/* Reddit - The Final Frontier - External Stylesheet */

/* border-box style, and general styling for whole page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* whole page styling */
body {
    color: antiquewhite;
    background-color: rgb(17, 16, 19);       
}

header {
    text-align: center;
    width: 100%;
    border-bottom: 3px solid antiquewhite;
    padding: 1rem;    
}

main {
    width: 98%;
    background-color: rgb(17, 16, 19);
    display: flex;
    padding: 1rem;
    margin: 0.5rem;
    justify-content: space-around;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background-color:  rgb(51, 46, 61);
    border: 1px solid white;
    padding: 1rem;
    margin: 0.5rem;
}

.redditContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    background-color:  rgb(51, 46, 61);
    border: 1px solid white;
    padding: 1rem;
    margin: 0.5rem;
}

footer {
    text-align: center;
}


/* Side Bar sub elements */
.SearchBar {
    background-color:  rgb(82, 71, 104);
    width: 95%;
    border: 1px solid white;
    padding: 1rem;
    margin: 0.5rem;
}

.SubReddits {
    background-color:  rgb(82, 71, 104);
    width: 95%;
    border: 1px solid white;
    padding: 1rem;
    margin: 0.5rem;
}

.SubReddits ul {
    list-style: none;
}


/* Reddit Content sub elements */
.Post {
    background-color:  rgb(82, 71, 104);
    width: 90%;
    border: 1px solid white;
    padding: 1rem;
    margin: 0.5rem;
}