/* Reddit - The Final Frontier - External Stylesheet */

/* border-box style, and general styling for whole page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* whole page styling */
body {
    color: antiquewhite;
    background-color: rgb(17, 16, 19);       
}

main {
    width: 98%;
    background-color: rgb(17, 16, 19);
    display: flex;
    padding: 1rem;
    margin: 0.5rem;
    justify-content: space-around;
}


/* Header and sub elements */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(51, 46, 61);
    text-align: center;
    width: 100%;
    border-bottom: 3px solid antiquewhite;
    padding: 1rem;    
}

.searchbar {
    background-color:  rgb(82, 71, 104);    
    border: 1px solid white;
    padding: 1rem;
    margin: 0.5rem;
}

.search input {
    background-color: white;
    box-shadow: none;
    font-size: 20px;
    padding: 0.2rem;
}

.search button {
    box-shadow: none;
    font-size: 20px;
    padding: 0.2rem;
}


/* Reddit Content and sub elements */
.redditContent {
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 70%;
    background-color:  rgb(51, 46, 61);
    border: 1px solid antiquewhite;
    padding: 1rem;
    margin: 0.5rem;
}

h2 {
    font-size: 2rem;
    color: antiquewhite;
}

.loading {
    width: 95%;
    background-color:  rgb(82, 71, 104);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    border: 1px solid antiquewhite;
    padding: 1rem;
    margin: 0.5rem;
}

.loading p {
    padding: 3rem;
}

.error {
    width: 95%;
    background-color:  rgb(82, 71, 104);
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid antiquewhite;
    padding: 1rem;
    margin: 0.5rem;
}

.redditContentButton {
    border: 1px solid black;
    box-shadow: 0px 3px 3px 0px;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.redditContentButton:hover {
    background-color: rgb(134, 207, 134);
}

.redditContentButton:active {
    box-shadow: 0px 0px 0px 0px;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  rgb(82, 71, 104);
    max-width: 95%;
    border: 1px solid antiquewhite;
    padding: 1rem;
    margin: 0.5rem;
}

.post-votes-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
}
.post-votes-container button {
    background-color: antiquewhite;
    font-size: larger;
    padding: 0.3rem;
    margin: 0.5rem;
}

.upvote:hover {
    background-color: rgb(134, 207, 134);
}

.downvote:hover {
    background-color: rgb(185, 113, 113);
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 95%;
    padding: 0.5rem;
    margin: 0.5rem;
}

.post-image-container img {
    max-width: 100%;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


/* Side Bar and sub elements */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    background-color:  rgb(51, 46, 61);
    border: 1px solid white;
    padding: 1rem;
    margin: 0.5rem;
}

.subreddits-list {
    display: flex;
    flex-direction: column;    
}

.subreddit {  
    color: antiquewhite;
    font-size: 2rem;  
    list-style: none;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color:  rgb(82, 71, 104);
    border: 1px solid antiquewhite;
}


/* Footer */
footer {
    background-color:  rgb(51, 46, 61);
    text-align: center;
    border-top: 3px solid antiquewhite;
    padding: 1rem;    
}


/* Media Queries */

@media only screen and (max-width: 768px) {
    .redditContent {        
        max-width: 98%;
    }
    
    .sidebar {
        display: none;
    }
}